* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    width: 320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 20px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    height: 2rem;
    font-size: 1.2rem;
    padding: 0.3rem;
}

input[type="submit"] {
    background-color: blue;
    color: #fff;
    border: 0;
    border-radius: 0;
}

.help {
    background-color: red;
    color: #fff;
    font-size: 1.4rem;
    margin: 5px;
    padding: 5px;
}

.hide {
    transition: 500ms;
    opacity: 0;
}

.letters, .keys {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.letter, .key {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:grey;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.key {
    height: 50px;
    width: 30px;
    font-size: 1.5rem;
    background-color: #fff;
    color: grey;
    border: 1px solid grey;
    cursor: pointer;
    margin-right: 3px;
}

.match {
    background-color: darkorange;
    color: #fff;
}

.partial {
    background-color: blue;
    color: #fff;
}

.missing {
    background-color: grey;
    color: #fff;
}

.wide {
    width: 70px;
    font-size: 1.25rem;
}